body {
  background: #111;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px #4caf50;
  transition: all 0.2s ease-in-out;
  display: block;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#speedControl {
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

#speedRange {
  width: 150px;
  accent-color: #4caf50; /* Color del control */
}

#speedValue {
  min-width: 20px;
  font-weight: bold;
  color: #4caf50;
}

h1 {
  margin-top: 10px;
  color: #4caf50;
}

canvas {
  background-color: #000;
  background-image:
    repeating-linear-gradient(#111 0 1px, transparent 1px 20px),
    repeating-linear-gradient(90deg, #111 0 1px, transparent 1px 20px);
  border: 2px solid #4caf50;
  box-shadow: 0 0 10px #4caf50;
  display: block;
  margin: 10px auto;
  max-width: 95vw;
  height: auto;
}




p {
  font-size: 1.2rem;
}
